@model PuntoCuatroSQLite.Models.Muestra

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>¿Estas Seguro que quiers borrar esto?</h3>
<div>
    <h4>Muestra</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Matriz)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Matriz)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaToma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaToma)
        </dd>
    </dl>
    
    <form asp-action="Delete" method="post" class="mt-3">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="Id" />

        <div class="d-flex gap-2">
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a asp-action="Index" class="btn btn-success">Volver</a>
        </div>
    </form>
</div>

